h3 {
  text-align: center;
}

.row {
  text-align: center;
}

#projectIn {
  text-align: center;
}

#employeeIn {
  text-align: center;
}

.employeeDiv {
  display: inline-block;
  height: 100px;
  width: 400px;
}
